<div class="container">
<h1>Überbündische Anmeldung</h1>
<p>Dies ist ein Beispiel</p>
</div>
<div class="container">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>
</div>
<div class="container">
  <div class="row">
    <div class="col-6" style="background-color: red">A</div>
    <div class="col-6" style="background-color: green">B</div>
  </div>
</div>
