<div class="container" *ngIf="onSuccess$ | async as schemeAction">
    <h2>
        {{ schemeAction.projectTitle }}
    </h2>
    <form [formGroup]="this.myFormGroup" (ngSubmit)="submit()">
        <div *ngFor="let section of schemeAction.scheme.sections">
            <h3>
                {{ section.headline }}
            </h3>
            <div *ngFor="let block of section.blocks">
                <container-element [ngSwitch]="block.type">
                    <app-richtext-block [payload]="block.payload" *ngSwitchCase="BLOCKTYPES.RichtextType">
                    </app-richtext-block>
                    <app-form-input [myFormGroup]="this.myFormGroup" [payload]="block.payload"
                        *ngSwitchCase="BLOCKTYPES.FormInputType"></app-form-input>

                    <div *ngSwitchDefault>
                        <span>Unbekanntes Element</span>
                    </div>
                </container-element>
            </div>
        </div>
        <button type="submit">Absenden</button>

    </form>
</div>

<div class="container" *ngIf="onError$ | async">
    <h1>Fehler...</h1>
    <p>Ein Fehler ist aufgetreten...</p>
</div>